body, html {
  margin: 0px;
  background: linear-gradient(rgba(35, 115, 222), rgba(0, 59, 110)) fixed;
}

#banner {
  height: 150px;
  width: auto;
  background-color: #595959;
  border-bottom: 2px solid #000000;
}

#icon {
  position: absolute;
  top: 0px;
  left: 0px;
}

#title {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -305px;
}

.banner_button {
  border-radius: 10px;
  border: 2px solid #000000;
  background: #4572C4;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 0px;
  color: white;
  font-size: 28px;
  font-family: "Bahnschrift";
}

#banner_button_1 {
  position: absolute;
  top: 15px;
  right: 20px;
}

#banner_button_2 {
  position: absolute;
  top: 80px;
  right: 20px;
}

#game_box {
  border-radius: 36px;
  background: #595959;
  position: absolute;
  width: 80%;
  height: auto;
  top: 615px;
  margin-left: 10%;
}

.content_box {
  border-radius: 70px;
  border: 4px solid #4572C4;
  background: #595959;
  width: 50%;
  height: 70%;
  font-size: 60px;
  text-align: center;
  line-height: 10px;
  color: white;
  font-family: "Bahnschrift";
  -webkit-text-stroke: 1px #4572C4;
  
  position: absolute;
  top: 200px;
  left: 25%;
}