#login_details{
    font-size: 45px;
	position: relative;
	top: 70px;
	margin-bottom: 90px;
    text-align: center;
    font-family: Bahnschrift;
    color:white;
	-webkit-text-stroke: 0px;
}

.format_input{
	height: 25px;
	width: 410px;
	position: relative;
	top: -7px;
	font-size:18px;
}