.format_input {
	height: 25px;
	width: 410px;
	position: relative;
	top: -7px;
	font-size: 18px;
}

#sign_in_button {
	top: -370px;
	margin-top: 165px;
}

#sign_in_button_text {
	line-height: 100px;
	top: 402px;
}