{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}

	<!-- 'About Us' content box and title -->
	<div class="content_box" id="about_content_box">
		<p>About Us</p>
	</div>
	
	<!-- text paragraph of the 'About Us' page -->
	<div id="content_text">
		<p>
			This project was created by 5 Computer Science students using Django for a Web App Development course assignment. We created this site to allow gamers to review and share their opinions on games. 
		</p>
		<p>
			Thank you for using our site!
		</p>
	</div>
	
{% endblock %}