{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Add Game
{% endblock %}

{% block body_block %}
    <div class="content_box">
		{% for mess in messages %}
			{{ mess }}
		{% endfor %}
		<form id="page_form" method="post" action="{% url 'gamer_view:add_page' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			
			<input type="submit" name="submit" value="Add Game" class="button" style="align:center; bottom:-186px" />
		</form>
	</div>
{% endblock %}