{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Add Game
{% endblock %}

{% block body_block %}

	<!-- 'Add Page' content box -->
    <div class="content_box">
		<p>Add a Game</p>
		{% for mess in messages %}
			<div class="error_message" id="add_page_error"><p>{{ mess }}</p></div>
		{% endfor %}
		<div class="input_details" id="add_page_details">
			<form id="page_form" method="post" action="{% url 'gamer_view:add_page' %}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
			</div>	
			<input type="submit" name="submit" value="Add Game" class="button" id="add_page_button" />
		</form>
	</div>
	
{% endblock %}