{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Add Category
{% endblock %}
	
{% block body_block %}

	<!-- 'Add Category' content box -->
    <div class="content_box" id="add_category_content_box">
		<p>Add a Game Category</p>
		{% for mess in messages %}
			<div class="error_message" id="add_category_error"><p>{{ mess }}</p></div>
		{% endfor %}
		<form id="category_form" method="post" action="{% url 'gamer_view:add_category' %}">
			{% csrf_token %}
			<p class="input_details" id="add_category_input">Category Name: <input type="text" name="category" maxlength="30" class="format_input" id="add_category_input_box"/></p>
			<p><input type="submit" value="Add Category" class="page_button" id="add_category_button"/></p>
		</form>
	</div>
	
{% endblock %}