{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Add Game
{% endblock %}

{% block body_block %}
    <div class="content_box">
	<p>Add a Game</p>
		{% for mess in messages %}
			<div id="error_message" style="font-size:20px; top:13%"><p>{{ mess }}</p></div>
		{% endfor %}
		<div id="login_details" style="top:1.5%">
		<form id="page_form" method="post" action="{% url 'gamer_view:add_page' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
		</div>	
		
			<input type="submit" name="submit" value="Add Game" class="button" style="align:center; bottom:36px" />
		</form>
	</div>
{% endblock %}