{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Add Review
{% endblock %}
	++
{% block body_block %}
	<div class="content_box">
		<p>Make a review</p>
		
			<form id="login_details" method="POST" action="{% url 'gamer_view:add_review' %}" style="top:60px">
				{% csrf_token %}
				{{ form.as_p }}
				
				<div class="stars" data-rating="1" style="line-height:130px">
					<span class="star">&nbsp;</span>
					<span class="star">&nbsp;</span>
					<span class="star">&nbsp;</span>
					<span class="star">&nbsp;</span>
					<span class="star">&nbsp;</span>
				</div>
				<input type="submit" value="Create Review" class="button" style="line-height:100px; top:350px" />
			</form>
	</div>
	
	<script src="{% static 'js/star.js' %}"></script>
{% endblock %}