<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>
			Gamer-view - 
            {% block title_block %}
                Welcome!
            {% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	</head>
	<body>
	    <div>
            {% block body_block %}
            {% endblock %}
        </div>
		<div id="banner"></div>
		<div id="icon">
		  <img src={% static 'images/controller.png' %} alt="Controller" style="width:150px">
		</div>
		<div id="title">
		  <a href="{% url 'gamer_view:home' %}">
			<img src={% static 'images/title.png' %} alt="Title">
		  </a>
		</div>

		{% if user.is_authenticated %}

		<div id="banner_button_1" class="banner_button">
			<p>
				{{ user }}
			</p>
		</div>
		<div id="banner_button_2" class="banner_button">
			<p>
				<a href="{% url 'gamer_view:logout' %}">
					Logout
				</a>
			</p>
		</div>

		{% else %}
		<div id="banner_button_1" class="banner_button">
		  <p>
			  <a href="{% url 'gamer_view:user_login' %}">Sign In</a>
		  </p>
		</div>
		<div id="banner_button_2" class="banner_button">
		  <p>
			  <a href="{% url 'gamer_view:register' %}"> Register</a>
		  </p>
		</div>
		{% endif %}
	</body>
</html>
