{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Categories
{% endblock %}

{% block body_block %}
	<div id="content_area">
		{% for cat ,value in categories.items %}
			<div id="category_name" class="button">
				<a href={% url 'gamer_view:show_category' cat.category %} style="color:white; text-decoration:none">{{ cat.category }}<br>
				<P id="categories_box"></p>
			</div>
			{% for page in value %}
				<a href={% url 'gamer_view:show_page' cat.category page.gamename %}><img src="{{ page.image.url }}" id="format_image" border="2" alt="Image"></a>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}