{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    {% if cat %}
        {{ cat.category }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
	{% if cat %}
		<div class="content_box" id="category_box">
			<p>{{ cat.category }}</p>
			{% if pages %}
				<div style="text-align:left">
					{% for page in pages %}
						<a href={% url 'gamer_view:show_page' cat.category page.slug %}><img src="{{ page.image.url }}" id="format_image" style="left:1.5%; margin-bottom:40px" border="2" alt="Image"></a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% else %}
		<div class="content_box" id="page_box" style="text-align: center;">
			<p>The specified Category does not exist.</p>
		</div>
    {% endif %}
{% endblock %}
		