{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
	<div id="category_button" class="page_button">
	  <p> Categories </p>
	</div><div id="trending_button" class="page_button">
	  <p> Trending </p>
	</div>
	<div id="about_us_button" class="page_button">
	  <a href="{% url 'gamer_view:about' %}" style="color:white; text-decoration:none">About Us</a>
	</div>
	<div id="latest_additions" class="page_button">
	  <p> Latest Additions </p>
	</div>
	<div id="latest_additions_box" class="page_button"></div>
{% endblock %}