{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
	<div id="category_button" class="page_button">
	  <p> Categories </p>
	</div><div id="trending_button" class="page_button">
	  <p> Trending </p>
	</div>
	<div id="about_us_button" class="page_button">
	  <a href="{% url 'gamer_view:about' %}" style="color:white; text-decoration:none">About Us</a>
	</div>
	<div id="latest_additions" class="page_button">
	  <p> Latest Additions </p>
	</div>
	<div id="latest_additions_box" class="page_button"></div>
	
	<div id="additions_images">
	{% for page in pages %}
		<a href="{{ page.url }}" style="color:black"><img src="{{ page.image.url }}" style="height:165px; width:280px; margin-left:10%; color:black" border="2" alt="Title"></a>
	{% endfor %}
	</div>
	<div id="additions_game_names">
	{% for page in pages %}
		<a href="{{ page.url }}" style="color:white; text-decoration:none; top:100px; margin-left:11.5%; margin-right:11.5%">{{ page.gamename }}</a>
	{% endfor %}
	</div>


	<div class='input' contenteditable="true" 
	contenteditable placeholder='INPUT THE GAME THAT YOU WANT TO FIND'>
	</div>
{% endblock %}
