{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	
	<!-- 'Sign In' content box -->
	<div class="content_box">
	  <p>Sign in to Gamer-View</p>
	  
		<!-- display error message for invalid login input -->
		{% for mess in messages %}
			<div class="error_message"><p>{{ mess }}<p></div>
		{% endfor %} 
		
		<!-- display input form -->
		<form id="login_form" method="POST" action="{% url 'gamer_view:login' %}">
			{% csrf_token %}
			<p class="input_details">Username: <input type="text" name="username" minlength="6" maxlength="30" size="50" class="format_input" /></p>
			<br />
			<p class="input_details">Password: <input type="password" name="password" minlength="6" maxlength="30" size="50" class="format_input" /></p>
			<br />
			<p class="input_details" id="sign_in_button"><input type="submit" value="Sign In" class="button" id="sign_in_button_text" /></p>
		</form>
	</div>
	
{% endblock %}