{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    myAccount
{% endblock %}

{% block body_block %}
	<div class="content_box">
	  <p>My Reviews</p>
	</div>
	<div id="content_text">
	<p>
		{% if myReviews %}
			<p> Game Name: </p>
			{% for review in myReviews %}
				<a href={% url 'gamer_view:show_page' review.gamename.cat review.gamename %}>{{ review.gamename }}</a><br>
			{% endfor %}
		{% endif %}
		<div class="Add_buttons">
			<p>
				<a href="">Add Review</a>
			</p>
		</div>
		<div class="Add_buttons">
			<p>
				<a href="{% url 'gamer_view:add_category' %}"  style="color:white; text-decoration:none">Add Category</a>
			</p>
		</div>
		<div class="Add_buttons">
			<p>
				<a href="{% url 'gamer_view:add_page' %}"  style="color:white; text-decoration:none">Add Game</a>
			</p>
		</div>
	</p>
	</div>
{% endblock %}