{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    myAccount
{% endblock %}

{% block body_block %}
	<div class="content_box">
	<p><img src="{{ user.picture.url }}" id="format_image" border="2" alt="Profile Picture"></p>
	<p>{{ user.user.username }} - Reviews</p>
	</div>
	<div id="content_text">
	<p>
		{% if myReviews %}
			<p> Game Name: </p>
			{% for rev in myReviews %}
				<a href={% url 'gamer_view:show_page' rev.gamename.cat rev.gamename.slug %}>{{ rev.gamename }}</a><br>
				<p>Review: {{ rev.review }}</p>
			{% endfor %}
		{% endif %}
		<div class="Add_buttons">
			<p>
				<a href="{% url 'gamer_view:add_review' %}" style="color:white; text-decoration:none">Add Review</a>
			</p>
		</div>
		<div class="Add_buttons">
			<p>
				<a href="{% url 'gamer_view:add_category' %}"  style="color:white; text-decoration:none">Add Category</a>
			</p>
		</div>
		<div class="Add_buttons">
			<p>
				<a href="{% url 'gamer_view:add_page' %}"  style="color:white; text-decoration:none">Add Game</a>
			</p>
		</div>
	</p>
	</div>
{% endblock %}