{% extends 'gamer_view/base.html' %}
{% load static %}

{% block title_block %}
    {% if page %}
        {{ page.gamename }}
    {% else %}
        Unknown Game
    {% endif %}
{% endblock %}

{% block body_block %}
	<div class="content_box" id="page_box">
		{% if page %}
			<div class="game_info">
				<p>{{ page.gamename }}</p>
				<div class="page_button">
					<a href= {% url 'gamer_view:show_category' page.cat %} style="color:white; text-decoration:none"><p>Category: {{ page.cat }}</p></a>
				</div>
				<div class="page_button" id="description">
					<p>Description: {{ page.description }}</p>
				</div>
			</div>
			<div class="bar"></div>
			<img src="{{ page.image.url }}" id="game_image" border="2" alt="{{ page.gamename }}">
		{% else %}
			<div style="text-align: center; padding:60px">
				The specified game does not exist.
			</div>
		{% endif %}
	</div>
{% endblock %}